{% extends "web/base.html" %}
{% load static %}
{% block content %}

        <!-- Wrapper start -->
        <div id="wrapper" class="wrap">

            <!-- Section start -->
            <div id="hero_header" class="hero-header section panel overflow-hidden">
                <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block" data-anime="targets: >*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
                    <div class="position-absolute top-0 start-0 rotate-45" style="top: 30% !important; left: 18% !important">
                        <img class="w-32px text-gray-900 dark:text-white" src="{% static 'web/assets/images/template/star-1.svg'%}" alt="star-1" data-uc-svg>
                    </div>
                    <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                        <img class="w-24px text-gray-900 dark:text-white" src="{% static 'web/assets/images/template/star-2.svg'%}" alt="star-2" data-uc-svg>
                    </div>
                </div>
                <div class="section-outer panel pt-9 lg:pt-10 pb-6 sm:pb-8 lg:pb-9">
                    <div class="container max-w-xl">
                        <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0" data-anime="targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <div class="vstack items-center gap-2 lg:gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-750px mx-auto text-center">
                                <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Let's get in touch.</h1>
                                <p class="fs-6 sm:fs-5 text-dark dark:text-white text-opacity-70">Feel free to reach out to us using the options below, and our dedicated team will respond to your inquiries promptly.</p>
                            </div>
                            <div class="panel rounded-3 overflow-hidden bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                <div class="panel row child-cols-12 lg:child-cols-6 g-0">
                                    <div class="order-1 lg:order-0">
                                        <div class="panel overflow-hidden rounded-3 h-100 min-h-350px">
                                            <figure class="panel h-100 m-0 rounded">
                                                <canvas class="h-100 w-100"></canvas>
                                                <img class="media-cover image" src="{% static 'web/assets/images/template/hero-contact.jpg'%}" alt="Hero image">
                                            </figure>
                                            <div class="position-cover text-white vstack justify-end p-4 lg:p-6 xl:p-9">
                                                <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-50"></div>
                                                <div class="panel z-1">
                                                    <div class="vstack gap-3">
                                                        <p class="fs-5 xl:fs-4 fw-medium">“This software simplifies the website building process, making it a breeze to manage our online presence.”</p>
                                                        <div class="vstack gap-0">
                                                            <p class="fs-6 lg:fs-5 fw-medium">David Larry</p>
                                                            <span class="fs-7 opacity-80">Founder & CEO</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-0 lg:order-1">
                                        <form class="vstack gap-2 p-3 sm:p-6 xl:p-8">
                                            <p class="fs-6 text-dark dark:text-white text-opacity-70 mb-2">Have a question or feedback? Fill out the form below, and we'll get back to you as soon as possible.</p>
                                            <div class="row child-cols-12 sm:child-cols-6 g-2">
                                                <div>
                                                    <input class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white" type="text" placeholder="Full name" required>
                                                </div>
                                                <div>
                                                    <input class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white" type="email" placeholder="Your email" required>
                                                </div>
                                            </div>
                                            <input class="form-control h-48px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white" type="text" placeholder="Subject">
                                            <textarea class="form-control min-h-150px w-full bg-white dark:border-white dark:bg-opacity-10 dark:border-opacity-0 dark:text-white" placeholder="Your message.." required></textarea>
                                            <button class="btn btn-primary btn-md text-white mt-2" type="submit">Send message</button>
                                            <p class="text-center">Or drop us a message via <a class="uc-link" href="mailto:hello@uninexa.co">email</a>.</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

            <!-- Section start -->
            <div id="helpful-links" class="section panel overflow-hidden">
                <div class="section-outer panel pb-6 sm:pb-8 lg:pb-9">
                    <div class="container max-w-xl">
                        <div class="section-inner panel">
                            <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                                <h2 class="h4 sm:h3 lg:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">Other ways to reach us</h2>
                                <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-3 g-2 xl:g-3 justify-between col-match" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                    <div>
                                        <div class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10 lg:hover:-translate-y-2 duration-150 transition-all">
                                            <div class="cstack mb-2">
                                                <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-location.svg'%}" alt="location-icon">
                                                <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-location-dark.svg'%}" alt="location-icon-dark">
                                            </div>
                                            <h5 class="h5 m-0">Visit us</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Don Valley, Toronto, CA</p>
                                            <a href="#" class="uc-link fw-bold hstack gap-narrow justify-center">
                                                <span>View on maps</span>
                                                <i class="position-relative icon icon-1 unicon-arrow-right translate-y-px"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10 lg:hover:-translate-y-2 duration-150 transition-all">
                                            <div class="cstack mb-2">
                                                <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-chat.svg'%}" alt="chat-icon">
                                                <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-chat-dark.svg'%}" alt="chat-icon-dark">
                                            </div>
                                            <h5 class="h5 m-0">Via chat</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Get instant answers.</p>
                                            <a href="#" class="uc-link fw-bold hstack gap-narrow justify-center">
                                                <span>Let's chat</span>
                                                <i class="position-relative icon icon-1 unicon-arrow-right translate-y-px"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10 lg:hover:-translate-y-2 duration-150 transition-all">
                                            <div class="cstack mb-2">
                                                <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-internet.svg'%}" alt="internet-icon">
                                                <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-internet-dark.svg'%}" alt="internet-icon-dark">
                                            </div>
                                            <h5 class="h5 m-0">Report Issue</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Get priority support.</p>
                                            <a href="#" class="uc-link fw-bold hstack gap-narrow justify-center">
                                                <span>Send report</span>
                                                <i class="position-relative icon icon-1 unicon-arrow-right translate-y-px"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack gap-2 items-center text-center px-3 py-4 lg:py-6 xl:py-8 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10 lg:hover:-translate-y-2 duration-150 transition-all">
                                            <div class="cstack mb-2">
                                                <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-community.svg'%}" alt="community-icon">
                                                <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-community-dark.svg'%}" alt="community-icon-dark">
                                            </div>
                                            <h5 class="h5 m-0">Our community</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Connect with users.</p>
                                            <a href="#" class="uc-link fw-bold hstack gap-narrow justify-center">
                                                <span>Join us now</span>
                                                <i class="position-relative icon icon-1 unicon-arrow-right translate-y-px"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

            <!-- Section start -->
            <div id="faq" class="section panel overflow-hidden">
                <div class="section-outer panel pb-7 sm:pb-8 xl:pb-9">
                    <div class="container max-w-lg">
                        <div class="section-inner panel" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <div class="panel">
                                <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Frequenlty asked questions:</h2>
                                <div class="panel mt-4 sm:mt-6 lg:mt-8 p-3 sm:p-4 xl:p-6 lg:max-w-750px xl:w-auto m-auto rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                    <ul class="gap-4" data-uc-accordion="targets: > li;">
                                        <li class="uc-open">
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">What is Uninexa CRM?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM is a comprehensive customer relationship management software designed to streamline sales processes, enhance customer interactions, and drive business growth.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Is Uninexa CRM suitable for my business size?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, Uninexa CRM caters to businesses of all sizes, from startups to enterprises. Its scalability allows it to grow with your business.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Can Uninexa CRM be customized to fit our specific needs?</a>
                                            <div class="uc-accordion-content">
                                                <p>Absolutely! Uninexa CRM offers extensive customization options to tailor the software to your unique business requirements and workflows.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">What kind of support does Uninexa CRM provide?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM provides dedicated support, including onboarding assistance, ongoing training, and responsive customer service to ensure you get the most out of the software.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Is my data secure with Uninexa CRM?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, data security is a top priority for Uninexa CRM. The platform employs robust security measures to protect your information and ensure compliance with industry regulations.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">How easy is it to integrate Uninexa CRM with existing systems?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM offers seamless integration capabilities, making it easy to connect with your existing systems and tools for a smooth transition.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Can Uninexa CRM help improve sales performance?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, Uninexa CRM provides tools and insights to optimize sales strategies, track performance, and identify opportunities for growth, ultimately driving improved sales performance.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Does Uninexa CRM offer mobile access?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, Uninexa CRM is accessible on mobile devices, allowing you to manage your sales pipeline, respond to customer inquiries, and access important data on the go.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">What kind of reporting and analytics does Uninexa CRM offer?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM offers advanced reporting and analytics features, including customizable reports, real-time dashboards, and predictive analytics to help you make data-driven decisions.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">How can I get started with Uninexa CRM?</a>
                                            <div class="uc-accordion-content">
                                                <p>Getting started with Uninexa CRM is easy! Simply sign up for a free trial or contact our sales team to learn more about how Uninexa CRM can benefit your business.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section end -->

            <!-- Section start -->
            <div id="clients_brands" class="clients-brands section panel overflow-hidden">
                <div class="section-outer panel pb-8 sm:pb-9 xl:pb-9">
                    <h5 class="h6 sm:h5 text-center mb-4 sm:mb-6 xl:mb-8" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 200;">Trusted by well-known brands.</h5>
                    <div class="block-panel panel" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                        <div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
                            <div class="swiper" data-uc-swiper="items: 2.25; center: true; center-bounds: true;   allowTouchMove: false; disableOnInteraction: true;" data-uc-swiper-s="items: 4; center: false; center-bounds: false;" data-uc-swiper-m="items: 5; gap: 80;">
                                <div class="swiper-wrapper items-center">
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-01.svg'%}" alt="Proline" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-02.svg'%}" alt="Iceberg" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-03.svg'%}" alt="PinPoint" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-04.svg'%}" alt="Clues" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-05.svg'%}" alt="Snowflake" data-uc-svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>

        <!-- Wrapper end -->
{% endblock %}