{% extends "web/base.html" %}
{% load static %}
{% block content %}

        <!-- Wrapper start -->
        <div id="wrapper" class="wrap">

            <!-- Section start -->
            <div id="main_features" class="key-features section panel overflow-hidden mt-5">
                <div class="section-outer panel py-6 xl:py-9">
                    <div class="container sm:max-w-lg xl:max-w-xl">
                        <div class="section-inner panel">
                            <div class="panel vstack items-center gap-2 xl:gap-3 mb-4 sm:mb-8 xl:mb-9 max-w-700px mx-auto text-center sm-title" data-anime="targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                <h2 class="title h3 lg:h2 xl:h1">Uninexa's Versatile Solutions for Business Optimization</h2>
                                <p class="fs-6 xl:fs-5 text-dark dark:text-white text-opacity-70">Tailored Tools to Enhance Efficiency, Growth, and Customer Satisfaction.</p>
                            </div>
                            <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 col-match justify-center g-2 lg:g-4">
                                <div>
                                    <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                        <div class="vstack gap-4 h-100">
                                            <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                                <img src="{% static 'web/assets/images/template/feature-01.svg'%}" alt="Uninexa's Versatile Solutions for Business Optimization">
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 m-0">Customization and Flexibility</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">Uninexa's customizable platform allows businesses to tailor the software to their specific requirements. Adapt fields, workflows, and automations to align perfectly with your processes for seamless integration and enhanced efficiency.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                        <div class="vstack gap-4 h-100">
                                            <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                                <img src="{% static 'web/assets/images/template/feature-02.svg'%}" alt="Scalability">
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 m-0">Scalability</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">Uninexa scales effortlessly with your business, whether you're a small startup or a large enterprise. The platform adapts to your changing needs, ensuring performance remains optimal as your business expands.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                        <div class="vstack gap-4 h-100">
                                            <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                                <img src="{% static 'web/assets/images/template/feature-03.svg'%}" alt="Comprehensive Support">
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 m-0">Comprehensive Support</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">Experience exceptional support with Uninexa's dedicated team. From onboarding to ongoing troubleshooting, we're here to ensure you get the most out of our platform and achieve your business goals.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                        <div class="vstack gap-4 h-100">
                                            <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                                <img src="{% static 'web/assets/images/template/feature-03.svg'%}" alt="Data Security and Compliance">
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 m-0">Data Security and Compliance</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">Uninexa prioritizes the security of your data with robust measures that ensure compliance with industry regulations. Rest easy knowing your sensitive information is safeguarded and handled with the utmost care.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                        <div class="vstack gap-4 h-100">
                                            <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                                <img src="{% static 'web/assets/images/template/feature-03.svg'%}" alt="Mobile Accessibility">
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 m-0">Mobile Accessibility</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">Stay connected and manage your operations from anywhere with Uninexa's mobile accessibility features. Access critical data, track progress, and communicate with your team seamlessly from your mobile device.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="feature-item panel px-3 lg:px-4 py-4 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10" data-anime="onview: -200; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">
                                        <div class="vstack gap-4 h-100">
                                            <div class="panel w-100 rounded lg:rounded-2 overflow-hidden">
                                                <img src="{% static 'web/assets/images/template/feature-03.svg'%}" alt="Integration Capabilities">
                                            </div>
                                            <div class="panel">
                                                <div class="panel vstack justify-center gap-4 h-100">
                                                    <div>
                                                        <div class="panel vstack gap-2">
                                                            <h3 class="h4 m-0">Integration Capabilities</h3>
                                                            <p class="fs-6 lg:fs-5 opacity-70 dark:opacity-80">Integrate Uninexa with your existing software and tools for a cohesive workflow. Our platform supports a wide range of integrations, ensuring smooth connectivity and enhanced overall efficiency.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

            <!-- Section start -->
            <div id="key_features" class="key-features section panel overflow-hidden bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                <div class="section-outer panel py-6 xl:py-9">
                    <div class="container sm:max-w-lg xl:max-w-xl">
                        <div class="section-inner panel">
                            <div class="panel vstack items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                <h2 class="title h3 lg:h2 xl:h1 m-0 text-center max-w-550px mx-auto">Benefits of Choosing Uninexa</h2>
                                <div class="panel">
                                    <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-4 xl:child-cols-3 items-center justify-center col-match g-3" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-white dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-document"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">Enhanced Productivity</h3>
                                                                <p class="desc fs-6 opacity-70">Streamline workflows and automate tasks to save time and boost team productivity.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-primary text-white">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-model"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">Scalable Growth</h3>
                                                                <p class="desc fs-6 opacity-70">Adapt effortlessly as your business grows, ensuring seamless performance at any scale.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-white dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-task-approved"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">Superior Customer Satisfaction</h3>
                                                                <p class="desc fs-6 opacity-70">Deliver personalized service and efficient support to increase customer satisfaction and loyalty.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-white dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-touch-interaction"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">Robust Data Security</h3>
                                                                <p class="desc fs-6 opacity-70">Protect sensitive information with advanced security measures, ensuring data integrity and compliance.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

           

            <!-- Section start -->
                {% include "web/partials/testimonial.html" %}
            <!-- Section end -->

          
        </div>

        <!-- Wrapper end -->

{% endblock %}