{% extends "web/base.html" %}
{% load static %}
{% block content %}


        <!-- Wrapper start -->
        <div id="wrapper" class="wrap">

            <!-- Section start -->
            <div id="hero_header" class="hero-header section panel overflow-hidden">
                
                <div class="section-outer panel pt-9 lg:pt-10 pb-6 sm:pb-8 lg:pb-9">
                    <div class="container max-w-xl">
                        <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0" data-anime="targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <div class="vstack items-center gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-850px mx-auto text-center sm-title">
                                <h2 class="title h3 lg:h2 xl:h1 ">Uninexa's Versatile Solutions for Business Optimization.</h2>
                                <p class="fs-6 md:fs-5 text-dark dark:text-white text-opacity-70">Uninexa provides industry-specific solutions designed to meet the unique needs and challenges of various sectors. By blending powerful features with in-depth customization, Uninexa helps businesses across all industries engage their customers meaningfully and optimize their sales operations. This results in positive customer experiences and better revenue growth opportunities for every business.</p>
                            </div>
                            <div class="panel row child-cols-12 col-match g-1 sm:g-2">
                                <div class="col-4">
                                    <figure class="featured-image m-0 rounded ratio ratio-2x3 sm:rounded-2 uc-transition-toggle overflow-hidden">
                                        <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="{% static 'web/assets/images/template/hero-about-01.jpg'%}" alt="About image">
                                    </figure>
                                    
                                </div>
                                <div class="col-8">
                                    <div class="h-100">
                                        <figure class="panel h-100 m-0 rounded sm:rounded-2 overflow-hidden">
                                            <canvas class="h-100 w-100"></canvas>
                                            <img class="media-cover image" src="{% static 'web/assets/images/template/hero-about-02.jpg'%}" alt="About image">
                                        </figure>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

            <!-- Section start -->
            <div id="clients_brands" class="clients-brands section panel overflow-hidden">
                <div class="section-outer panel pb-6 xl:pb-9">
                    <div class="container max-w-xl">
                        <div class="section-inner panel">
                            <div class="block-panel panel" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                                <div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
                                    <div class="swiper" data-uc-swiper="items: 2.25; center: true; center-bounds: true;   allowTouchMove: false; disableOnInteraction: true;" data-uc-swiper-s="items: 4; center: false; center-bounds: false;" data-uc-swiper-m="items: 5; gap: 80;">
                                        <div class="swiper-wrapper items-center">
                                            <div class="brand-item swiper-slide text-center">
                                                <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-01.svg'%}" alt="Proline" data-uc-svg>
                                            </div>
                                            <div class="brand-item swiper-slide text-center">
                                                <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-02.svg'%}" alt="Iceberg" data-uc-svg>
                                            </div>
                                            <div class="brand-item swiper-slide text-center">
                                                <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-03.svg'%}" alt="PinPoint" data-uc-svg>
                                            </div>
                                            <div class="brand-item swiper-slide text-center">
                                                <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-04.svg'%}" alt="Clues" data-uc-svg>
                                            </div>
                                            <div class="brand-item swiper-slide text-center">
                                                <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-05.svg'%}" alt="Snowflake" data-uc-svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

            <!-- Section start -->
            <div id="about_us" class="about-us section panel overflow-hidden" data-anime="onview: -100; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                <div class="section-outer panel py-6 xl:py-9 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                   
                    <div class="container max-w-lg">
                        <div class="section-inner panel">
                            <div class="panel vstack text-center" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                <h2 class="h3 lg:h2 mb-4">Why Uninexa?</h2>
                                <p class="fs-5 xl:fs-4 text-dark dark:text-white text-opacity-70">Every industry is unique, with different customer expectations, business processes, customer information needs, and security and compliance requirements. Uninexa's customizable platform addresses these diverse needs, enabling businesses to engage customers meaningfully and optimize operations effectively. This leads to improved customer experiences and enhanced revenue growth opportunities across all sectors.</p>
                                <div class="panel mt-6">
                                    <div class="row child-cols-6 lg:child-cols-3 justify-center g-4 col-match">
                                        <div>
                                            <div class="panel vstack gap-1">
                                                <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0, 10]; round: 1; easing: linear; duration: 1200;">0</span>K</h4>
                                                <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70 text-nowrap">Satisfied Clients.</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="panel vstack gap-1">
                                                <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0, 99]; round: 1; easing: linear; duration: 1200;">0</span>%</h4>
                                                <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70 text-nowrap">Uptime Guarantee.</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="panel vstack gap-1">
                                                <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0, 1]; round: 1; easing: linear; duration: 1200;">0</span>M</h4>
                                                <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70 text-nowrap">Daily Transactions Managed.</p>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="panel vstack gap-1">
                                                <h4 class="h2 xl:h1 m-0"><span data-anime="onview: -100; textContent: [0, 5]; round: 1; easing: linear; duration: 1200;">0</span>+</h4>
                                                <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70 text-nowrap">countries worldwide.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

            <!-- Section start -->
            <div id="about_values" class="about-values section panel overflow-hidden">
                <div class="section-outer panel py-6 xl:py-9">
                    <div class="container">
                        <div class="section-inner panel">
                            <div class="panel vstack gap-4 sm:gap-6 xl:gap-8">
                                <h2 class="h4 sm:h3 lg:h2 m-0 text-center" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 100;">Industry-Specific Solutions with Uninexa</h2>
                                <div class="row child-cols-12 sm:child-cols-4 g-2 lg:g-4 justify-between" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-diamond.svg'%}" alt="impact-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-diamond-dark.svg'%}" alt="impact-icon">
                                            <h5 class="h5 lg:h4 m-0">Automotive CRM</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Manage dealership operations, track leads, and personalize customer interactions to drive sales and enhance customer loyalty.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-trophy.svg'%}" alt="crown-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-trophy-dark.svg'%}" alt="crown-icon">
                                            <h5 class="h5 lg:h4 m-0">Life Sciences</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Streamline complex processes, maintain compliance with regulatory standards, and manage detailed customer information efficiently.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-globe.svg'%}" alt="fun-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-globe-dark.svg'%}" alt="fun-icon">
                                            <h5 class="h5 lg:h4 m-0">Financial Services</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Enhance client relationships, ensure data security and regulatory compliance, and optimize financial operations for better client satisfaction.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Insurance</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Simplify policy management, improve claims processing, and provide personalized service to policyholders for increased trust and retention.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Retail</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Optimize inventory management, personalize shopping experiences, and streamline sales operations to boost customer satisfaction and sales.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Real Estate</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Manage property listings, track client interactions, and streamline transactions to enhance client relationships and close deals faster.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Roofing</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Improve project management, track customer interactions, and streamline sales processes to boost efficiency and customer satisfaction.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Services</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Automate service scheduling, manage client interactions, and optimize operations to enhance service delivery and customer satisfaction.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Agencies</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Manage client projects, track communications, and streamline workflows to deliver better results and improve client relationships.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Non-Profit</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Optimize donor management, track fundraising efforts, and manage volunteer interactions to enhance engagement and achieve mission goals.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Startups</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Scale operations efficiently, manage customer interactions, and automate processes to drive growth and maximize resource utilization.</p>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel vstack gap-2 p-4 lg:py-6 rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                            <img class="w-64px lg:w-80px d-block dark:d-none" src="{% static 'web/assets/images/template/icon-crown.svg'%}" alt="empathy-icon">
                                            <img class="w-64px lg:w-80px d-none dark:d-block" src="{% static 'web/assets/images/template/icon-crown-dark.svg'%}" alt="empathy-icon">
                                            <h5 class="h5 lg:h4 m-0">Startups</h5>
                                            <p class="fs-6 opacity-70 dark:opacity-80">Scale operations efficiently, manage customer interactions, and automate processes to drive growth and maximize resource utilization.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

        </div>

        <!-- Wrapper end -->
{% endblock %}  