{% extends "web/base.html" %}
{% load static %}
{% block content %}
        <!-- Wrapper start -->
        <div id="wrapper" class="wrap">

            <!-- Section start -->
            <div id="hero_header" class="hero-header section panel overflow-hidden">
                <div class="position-absolute top-0 start-0 end-0 min-h-screen overflow-hidden d-none lg:d-block" data-anime="targets: >*; scale: [0, 1]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 750});">
                    <div class="position-absolute top-0 start-0 rotate-45" style="top: 30% !important; left: 18% !important">
                        <img class="w-32px text-gray-900 dark:text-white" src="{% static 'web/assets/images/template/star-1.svg'%}" alt="star-1" data-uc-svg>
                    </div>
                    <div class="position-absolute top-0 end-0 rotate-45" style="top: 15% !important; right: 18% !important">
                        <img class="w-24px text-gray-900 dark:text-white" src="{% static 'web/assets/images/template/star-2.svg'%}" alt="star-2" data-uc-svg>
                    </div>
                </div>
                <div class="section-outer panel pt-9 lg:pt-10 pb-6 sm:pb-8 lg:pb-9">
                    <div class="container max-w-xl">
                        <div class="section-inner panel mt-2 sm:mt-4 lg:mt-0">
                            <div class="vstack items-center gap-3 lg:gap-4 mb-4 sm:mb-6 lg:mb-8 max-w-750px mx-auto text-center" data-anime="targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                <h1 class="h2 sm:h1 lg:display-6 xl:display-5 m-0">Simple, scalable pricing.</h1>
                                <p class="fs-6 xl:fs-5 text-dark dark:text-white text-opacity-70">No extra charges. No hidden fees.</p>
                                <ul class="uc-switcher-nav nav-x gap-0 p-narrow border rounded-2 fs-7 fw-medium" data-uc-switcher="connect: .pricing-switcher;">
                                    <li><a href="#" class="text-none w-128px cstack p-1">Monthly</a></li>
                                    <li><a href="#" class="text-none w-128px cstack p-1">Yearly</a></li>
                                </ul>
                            </div>
                            <div class="uc-switcher pricing-switcher mt-4">
                                <div>
                                    <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 col-match justify-center g-2 lg:g-4" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 400});">
                                        <div>
                                            <div class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="panel">
                                                    <h3 class="title h5 sm:h4 dark:text-white">Essentials</h3>
                                                    <p class="desc dark:text-whiteopacity-70 dark:opacity-80">For creating impressive tools that generate results.</p>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-narrow">
                                                        <h5 class="title h3 sm:h2 m-0 dark:text-white">₹800 INR</h5>
                                                        <span class="fs-7 opacity-70">Seat per month, 2 seats max</span>
                                                        <div class="vstack gap-1 justify-center text-center mt-3">
                                                            <a class='btn btn-md sm:btn-sm lg:btn-md btn-primary text-white' href="#uc-contact-modal" data-uc-toggle>Start a free trial</a>
                                                            <span class="fs-7 opacity-70 min-h-24px">No credit card required</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-2">
                                                        <span class="fs-6 fw-bold dark:text-white">Key features:</span>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Real-time tracking and notifications</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Real-time analytics</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Drag and drop templates</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Project Management</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>24/7 email and chat support</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                                <span class="position-absolute top-0 end-0 m-2 d-inline-flex py-narrow px-1 bg-primary rounded-1 text-white fs-7 fw-medium">Popular</span>
                                                <div class="panel">
                                                    <h3 class="title h5 sm:h4 dark:text-white">Business</h3>
                                                    <p class="desc dark:text-whiteopacity-70 dark:opacity-80">For seamless integrations and sending tools in bulk.</p>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-narrow">
                                                        <h5 class="title h3 sm:h2 m-0 dark:text-white">₹1,400 INR</h5>
                                                        <span class="fs-7 opacity-70">Seat cost per month</span>
                                                        <div class="vstack gap-1 justify-center text-center mt-3">
                                                            <a class='btn btn-md sm:btn-sm lg:btn-md btn-primary text-white' href="#uc-contact-modal" data-uc-toggle>Start a free trial</a>
                                                            <span class="fs-7 opacity-70 min-h-24px">No credit card required</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-2">
                                                        <span class="fs-6 fw-bold dark:text-white">Everything in Essentials, plus:</span>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>CRM and Zapier integrations</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>CContent reporting</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Unlimited team workspaces</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Approval workflows</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Salesforce integration*</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="position-absolute bottom-0 end-0 m-2 d-none md:d-block">
                                                    <img class="w-100px lg:w-128px d-block dark:d-none" src="{% static 'web/assets/images/template/money.svg'%}" alt="money">
                                                    <img class="w-100px lg:w-128px d-none dark:d-block" src="{% static 'web/assets/images/template/money-dark.svg'%}" alt="money-dark">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="panel">
                                                    <h3 class="title h5 sm:h4 dark:text-white">Enterprise</h3>
                                                    <p class="desc dark:text-whiteopacity-70 dark:opacity-80">For large companies with complex Tool workflows.</p>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-narrow">
                                                        <h5 class="title h3 sm:h2 m-0 dark:text-white">Let’s talk</h5>
                                                        <span class="fs-7 opacity-70">Per‑seat or per‑tool pricing</span>
                                                        <div class="vstack gap-1 justify-center text-center mt-3">
                                                            <a class='btn btn-md sm:btn-sm lg:btn-md btn-dark text-white dark:bg-white dark:text-dark dark:hover:bg-secondary' href='{% url 'web:contact' %}'>Contact sales</a>
                                                            <span class="fs-7 opacity-70 min-h-24px">Respond within 24 hrs max</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-2">
                                                        <span class="fs-6 fw-bold dark:text-white">Everything in Business, plus:</span>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Unlimited files uploads</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Real-time tracking and notifications</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>User performance</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>SSO support and custom user roles</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Bulk send & Forms*</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-4 col-match justify-center g-2 lg:g-4" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 400});">
                                        <div>
                                            <div class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="panel">
                                                    <h3 class="title h5 sm:h4 dark:text-white">Essentials</h3>
                                                    <p class="desc dark:text-whiteopacity-70 dark:opacity-80">For creating impressive tools that generate results.</p>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-narrow">
                                                        <h5 class="title h3 sm:h2 m-0 dark:text-white">₹3,000 INR</h5>
                                                        <span class="fs-7 opacity-70">Seat per month, 2 seats max</span>
                                                        <div class="vstack gap-1 justify-center text-center mt-3">
                                                            <a class='btn btn-md sm:btn-sm lg:btn-md btn-primary text-white' href="#uc-contact-modal" data-uc-toggle>Start a free trial</a>
                                                            <span class="fs-7 opacity-70 min-h-24px">No credit card required</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-2">
                                                        <span class="fs-6 fw-bold dark:text-white">Key features:</span>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Real-time tracking and notifications</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Real-time analytics</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Drag and drop templates</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Project Management</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>24/7 email and chat support</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                                <span class="position-absolute top-0 end-0 m-2 d-inline-flex py-narrow px-1 bg-primary rounded-1 text-white fs-7 fw-medium">Popular</span>
                                                <div class="panel">
                                                    <h3 class="title h5 sm:h4 dark:text-white">Business</h3>
                                                    <p class="desc dark:text-whiteopacity-70 dark:opacity-80">For seamless integrations and sending tools in bulk.</p>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-narrow">
                                                        <h5 class="title h3 sm:h2 m-0 dark:text-white">₹3,200 INR</h5>
                                                        <span class="fs-7 opacity-70">Seat cost per month</span>
                                                        <div class="vstack gap-1 justify-center text-center mt-3">
                                                            <a class='btn btn-md sm:btn-sm lg:btn-md btn-primary text-white' href="#uc-contact-modal" data-uc-toggle>Start a free trial</a>
                                                            <span class="fs-7 opacity-70 min-h-24px">No credit card required</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-2">
                                                        <span class="fs-6 fw-bold dark:text-white">Everything in Essentials, plus:</span>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>CRM and Zapier integrations</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>CContent reporting</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Unlimited team workspaces</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Approval workflows</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Salesforce integration*</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="position-absolute bottom-0 end-0 m-2 d-none md:d-block">
                                                    <img class="w-100px lg:w-128px d-block dark:d-none" src="{% static 'web/assets/images/template/money.svg'%}" alt="money">
                                                    <img class="w-100px lg:w-128px d-none dark:d-block" src="{% static 'web/assets/images/template/money-dark.svg'%}" alt="money-dark">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="tier panel vstack gap-2 xl:gap-4 px-3 py-4 sm:p-4 lg:p-6 rounded lg:rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="panel">
                                                    <h3 class="title h5 sm:h4 dark:text-white">Enterprise</h3>
                                                    <p class="desc dark:text-whiteopacity-70 dark:opacity-80">For large companies with complex Tool workflows.</p>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-narrow">
                                                        <h5 class="title h3 sm:h2 m-0 dark:text-white">Let’s talk</h5>
                                                        <span class="fs-7 opacity-70">Per‑seat or per‑tool pricing</span>
                                                        <div class="vstack gap-1 justify-center text-center mt-3">
                                                            <a class='btn btn-md sm:btn-sm lg:btn-md btn-dark text-white dark:bg-white dark:text-dark dark:hover:bg-secondary' href='{% url 'web:contact' %}'>Contact sales</a>
                                                            <span class="fs-7 opacity-70 min-h-24px">Respond within 24 hrs max</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <div class="panel vstack gap-2">
                                                        <span class="fs-6 fw-bold dark:text-white">Everything in Business, plus:</span>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Unlimited files uploads</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Real-time tracking and notifications</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>User performance</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>SSO support and custom user roles</span>
                                                        </div>
                                                        <div class="hstack gap-1 fs-7">
                                                            <i class="cstack w-16px h-16px bg-primary text-white rounded-circle unicon-checkmark fw-bold"></i>
                                                            <span>Bulk send & Forms*</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center text-gray-900 dark:text-white text-opacity-70 mt-4 sm:mt-6 xl:mt-8" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 0;">Prices exclude any applicable taxes.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

              <!-- Section start -->
              <div id="key_features" class="key-features section panel overflow-hidden bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                <div class="section-outer panel py-6 xl:py-9">
                    <div class="container sm:max-w-lg xl:max-w-xl">
                        <div class="section-inner panel">
                            <div class="panel vstack items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                <h2 class="title h3 lg:h2 xl:h1 m-0 text-center max-w-550px mx-auto">Prevent costly mistakes</h2>
                                <div class="panel">
                                    <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-4 xl:child-cols-3 items-center justify-center col-match g-3" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-white dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-document"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">Proposals</h3>
                                                                <p class="desc fs-6 opacity-70">Share Tools in minutes with pre-built, customizable templates.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-primary text-white">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-model"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">Quotes</h3>
                                                                <p class="desc fs-6 opacity-70">Find out in real time when they’re opened, viewed and signed.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-white dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-task-approved"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">Contracts</h3>
                                                                <p class="desc fs-6 opacity-70">Use our native CRM integrations to pull customer data into your Tools fast.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feature-item panel p-4 rounded-2 hover:bg-primary dark:text-white hover:text-white hover:scale-105 duration-150 transition-all bg-white dark:bg-gray-300 dark:bg-opacity-10">
                                                <div class="vstack panel min-h-250px">
                                                    <div class="vstack items-center text-center justify-between gap-2 h-100">
                                                        <div class="cstack w-96px h-96px rounded-circle mt-2 bg-gray-900 dark:bg-white bg-opacity-5 dark:bg-opacity-15">
                                                            <i class="icon icon-4 unicon-touch-interaction"></i>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="vstack gap-1">
                                                                <h3 class="title h5 m-0 text-inherit">eSignatures</h3>
                                                                <p class="desc fs-6 opacity-70">Keep your data secure with our legally-binding e-Signature software.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->

            <!-- Section start -->
            <div id="faq" class="section panel overflow-hidden mt-5 pt-5">
                <div class="section-outer panel pb-7 sm:pb-8 xl:pb-9">
                    <div class="container max-w-lg">
                        <div class="section-inner panel" data-anime="onview: -100; targets: >*; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                            <div class="panel">
                                <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Frequenlty asked questions:</h2>
                                <div class="panel mt-4 sm:mt-6 lg:mt-8 p-3 sm:p-4 xl:p-6 lg:max-w-750px xl:w-auto m-auto rounded-2 bg-secondary dark:bg-gray-300 dark:bg-opacity-10">
                                    <ul class="gap-4" data-uc-accordion="targets: > li;">
                                        <li class="uc-open">
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">What is Uninexa CRM?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM is a comprehensive customer relationship management software designed to streamline sales processes, enhance customer interactions, and drive business growth.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Is Uninexa CRM suitable for my business size?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, Uninexa CRM caters to businesses of all sizes, from startups to enterprises. Its scalability allows it to grow with your business.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Can Uninexa CRM be customized to fit our specific needs?</a>
                                            <div class="uc-accordion-content">
                                                <p>Absolutely! Uninexa CRM offers extensive customization options to tailor the software to your unique business requirements and workflows.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">What kind of support does Uninexa CRM provide?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM provides dedicated support, including onboarding assistance, ongoing training, and responsive customer service to ensure you get the most out of the software.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Is my data secure with Uninexa CRM?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, data security is a top priority for Uninexa CRM. The platform employs robust security measures to protect your information and ensure compliance with industry regulations.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">How easy is it to integrate Uninexa CRM with existing systems?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM offers seamless integration capabilities, making it easy to connect with your existing systems and tools for a smooth transition.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Can Uninexa CRM help improve sales performance?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, Uninexa CRM provides tools and insights to optimize sales strategies, track performance, and identify opportunities for growth, ultimately driving improved sales performance.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">Does Uninexa CRM offer mobile access?</a>
                                            <div class="uc-accordion-content">
                                                <p>Yes, Uninexa CRM is accessible on mobile devices, allowing you to manage your sales pipeline, respond to customer inquiries, and access important data on the go.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">What kind of reporting and analytics does Uninexa CRM offer?</a>
                                            <div class="uc-accordion-content">
                                                <p>Uninexa CRM offers advanced reporting and analytics features, including customizable reports, real-time dashboards, and predictive analytics to help you make data-driven decisions.</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="uc-accordion-title fs-5 sm:fs-4" href="#">How can I get started with Uninexa CRM?</a>
                                            <div class="uc-accordion-content">
                                                <p>Getting started with Uninexa CRM is easy! Simply sign up for a free trial or contact our sales team to learn more about how Uninexa CRM can benefit your business.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section end -->


            <!-- Section start -->
            <div id="clients_brands" class="clients-brands section panel overflow-hidden">
                <div class="section-outer panel pt-6 pb-8 sm:pt-8 sm:pb-9 xl:py-9">
                    <h5 class="h6 sm:h5 text-center mb-4 sm:mb-6 xl:mb-8" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 200;">Trusted by well-known brands.</h5>
                    <div class="block-panel panel" data-anime="onview: -100; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: 250;">
                        <div class="element-brands max-w-950px m-auto text-gray-900 dark:text-white">
                            <div class="swiper" data-uc-swiper="items: 2.25; center: true; center-bounds: true;   allowTouchMove: false; disableOnInteraction: true;" data-uc-swiper-s="items: 4; center: false; center-bounds: false;" data-uc-swiper-m="items: 5; gap: 80;">
                                <div class="swiper-wrapper items-center">
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-01.svg'%}" alt="Proline" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-02.svg'%}" alt="Iceberg" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-03.svg'%}" alt="PinPoint" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-04.svg'%}" alt="Clues" data-uc-svg>
                                    </div>
                                    <div class="brand-item swiper-slide text-center">
                                        <img class="brand-item-image h-40px" src="{% static 'web/assets/images/brands/brand-05.svg'%}" alt="Snowflake" data-uc-svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section end -->
            
        </div>

        <!-- Wrapper end -->
{% endblock %}  