{% load static %}
<!-- Section start -->
<div id="clients_feedbacks" class="clients-feedbacks section panel overflow-hidden  mt-5" >
    <div class="section-outer panel pb-6 xl:pb-9 pt-5 mt-5" >
        <div class="container ">
            <div class="section-inner panel">
                <div class="panel vstack justify-center items-center gap-4 sm:gap-6 xl:gap-8" data-anime="onview: -100; targets: > *; translateY: [48, 0]; opacity: [0, 1]; easing: spring(1, 80, 10, 0); duration: 450; delay: anime.stagger(100, {start: 200});">
                    <h2 class="h4 sm:h3 lg:h2 m-0 text-center">Some clients feedbacks</h2>
                    <div class="row child-cols-12 sm:child-cols-6 xl:child-cols-3 justify-center col-match g-2 lg:g-3" data-uc-grid>
                        <div>
                            <div class="px-3 sm:px-3 py-3 panel vstack justify-between gap-3 rounded-2 border">
                                <div class="panel vstack items-start gap-2">
                                    <div class="panel">
                                        <div class="hstack h-48px">
                                            <img class="w-128px text-gray-900 dark:text-white" src="{% static 'web/assets/images/brands/brand-04.svg'%}" alt="Brand" data-uc-svg>
                                        </div>
                                    </div>
                                    <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“Uninexa's customization capabilities transformed our workflow. We tailored the platform to fit our specific needs, improving efficiency and productivity across the board.”</p>
                                </div>
                                <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                    <img class="w-40px rounded-circle" src="{% static 'web/assets/images/avatars/01.png'%}" alt="Mark Zellers">
                                    <div class="panel vstack items-start gap-0">
                                        <h6 class="h6 m-0">Jane</h6>
                                        <span class="fs-7 opacity-70">Operations Director.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="px-3 sm:px-3 py-3 panel vstack justify-between gap-3 rounded-2 border">
                                <div class="panel vstack items-start gap-2">
                                    <div class="panel">
                                        <div class="hstack h-48px">
                                            <img class="w-128px text-gray-900 dark:text-white" src="{% static 'web/assets/images/brands/brand-02.svg'%}" alt="Brand" data-uc-svg>
                                        </div>
                                    </div>
                                    <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“As our company expanded, Uninexa scaled effortlessly with us. The platform's adaptability ensured we maintained optimal performance, regardless of our growing demands.”</p>
                                </div>
                                <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                    <img class="w-40px rounded-circle" src="{% static 'web/assets/images/avatars/04.png'%}" alt="Natalia Larsson">
                                    <div class="panel vstack items-start gap-0">
                                        <h6 class="h6 m-0">Mike</h6>
                                        <span class="fs-7 opacity-70">CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="px-3 sm:px-3 py-3 panel vstack justify-between gap-3 rounded-2 border">
                                <div class="panel vstack items-start gap-2">
                                    <div class="panel">
                                        <div class="hstack h-48px">
                                            <img class="w-128px text-gray-900 dark:text-white" src="{% static 'web/assets/images/brands/brand-05.svg'%}" alt="Brand" data-uc-svg>
                                        </div>
                                    </div>
                                    <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“Uninexa's support team is exceptional. From the initial setup to ongoing assistance, they have been there every step of the way, ensuring we maximize the platform's potential.”</p>
                                </div>
                                <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                    <img class="w-40px rounded-circle" src="{% static 'web/assets/images/avatars/03.png'%}" alt="Sarah Edrissi">
                                    <div class="panel vstack items-start gap-0">
                                        <h6 class="h6 m-0">Laura</h6>
                                        <span class="fs-7 opacity-70">Customer Success Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="px-3 sm:px-3 py-3 panel vstack justify-between gap-3 rounded-2 border">
                                <div class="panel vstack items-start gap-2">
                                    <div class="panel">
                                        <div class="hstack h-48px">
                                            <img class="w-128px text-gray-900 dark:text-white" src="{% static 'web/assets/images/brands/brand-05.svg'%}" alt="Brand" data-uc-svg>
                                        </div>
                                    </div>
                                    <p class="fs-6 lg:fs-5 text-dark dark:text-white text-opacity-70">“Data security is crucial for us, and Uninexa provides top-notch protection. We trust Uninexa to keep our sensitive information secure and compliant with industry standards.”</p>
                                </div>
                                <div class="panel hstack gap-2 mt-2 lg:mt-4">
                                    <img class="w-40px rounded-circle" src="{% static 'web/assets/images/avatars/03.png'%}" alt="Sarah Edrissi">
                                    <div class="panel vstack items-start gap-0">
                                        <h6 class="h6 m-0">Rahul</h6>
                                        <span class="fs-7 opacity-70">IT Security Specialist</span>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section end -->